.Button{
    border-radius: 8px;
    padding: 2rem 3rem;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.Button:hover{
    transform: scale(1.05);
}

.Button_send {
    background-image: linear-gradient(to top, #f1a34e 0%, #f1b16b 100%);
    box-shadow: 0 5px 10px rgba(241, 163, 80, 0.45);
    color: #fff;
    font-size: 2.6rem;
}

.Button_remove{
    padding: 0px;
    width: 24px;
    height: 24px;
    background: url('img/Button_remove.png') no-repeat center / contain;
}

.Button_add{
    position: relative;
    color: #e37458;
    font-size: 2rem;
    border-bottom: 2px dotted #e37458;
    padding: 0px;
    background: transparent;
    border-radius: 0px;
}

.Button_add::before{
    position: absolute;
    content: "+";
    color: #e37458;
    font-size: 2rem;
    border-bottom:2px solid #fff;
}
