.Button {
    border-radius: 8px;
    padding: 34px 50px;
    font-size: 2rem;
}

.Button__send {
    background-image: linear-gradient(to top, #f1a34e 0%, #f1b16b 100%);
    box-shadow: 0 5px 10px rgba(241, 163, 80, 0.45);
    color: #fff;
    font-size: 2.6rem;
}
