.Checkbox__label {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 0.25rem solid #d7d7d7;
    position: relative;
    cursor: pointer;
    margin: 0px 1rem;
}

.Checkbox>input[type='checkbox']:checked+.Checkbox__label::after {
    position: absolute;
    content: '';
    width: 1.5rem;
    height: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('img/Checkbox-checked.png') no-repeat center / contain;
}
