.Table{
    width: 100%;
    padding: 0rem 0rem 0rem 3rem;
}

.Table th{
    padding-bottom: 3.4rem;
    opacity: 0.4;
    font-size: 1.5rem;
    font-weight: 400;
}

.Table tr{
    font-size: 2rem;
}

.Table tr:not(:first-child):not(:last-child) td:not(:first-child){
    padding-bottom: 2.7rem;
}
