.Table-container{
    overflow-x: auto;
}

.Table{
    width: 100%;
    min-width: 500px;
    padding: 0rem 0rem 1rem 3rem;
}

.Table th{
    padding-bottom: 3.4rem;
    opacity: 0.4;
    font-size: 1.5rem;
    font-weight: 400;
}

.Table tr{
    font-size: 2rem;
}

.Table tr:not(:first-child):not(:last-child) td:not(:first-child){
    padding-bottom: 2.7rem;
}


/* CUSTOM SCROLLBAR */

/* width */

.Table-container::-webkit-scrollbar {
    width: 1px;
    height: 3px;
}

/* Track */

.Table-container::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */

.Table-container::-webkit-scrollbar-thumb {
    background-color: #2b80ff;
}

/* Handle on hover */

.Table-container::-webkit-scrollbar-thumb:hover {
    background-color: #2b50ff;
}
